Repository torruuu/template-nuxt-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,ts,vue}": "eslint --fix",
  "**/*.{vue,css}": "stylelint --fix"
}

fix: lint config
  .stylelintrc.json
  .vscode/settings.json
  eslint.config.mjs
Due: none

fix: eslint format
  eslint.config.mjs
Due: none

fix: tailwind stylelint config
  .stylelintrc.json
Due: none

chore: migration to nuxt v4
  app/app.vue
  app/assets/css/main.css
  bun.lockb
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

chore: normalize line endings to lf
  .gitattributes
  .husky/install.mjs
  .prettierrc
  .vscode/settings.json
  package.json
Due: none

chore: update dependencies
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

feat: typescript config
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.mjs
  .vscode/settings.json
  README.md
  app/app.vue
  bun.lockb
  eslint.config.mjs
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

fix: comments and readme
  README.md
  nuxt.config.ts
Due: eslint --fix

fix: readme
  README.md
Due: none
